<div class="navbar">
  <a routerLink="/home" class="brand">Gestion de Clientes</a>
  <div class="menu-toggle" (click)="toggleMenu()">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>

  <div class="menu" [ngClass]="{ 'open': isMenuOpen }">
    <a routerLink="/home">Inicio</a>
    <a routerLink="/clientes">Clientes</a>
    <a routerLink="/proveedores">Proveedores</a>
    <a routerLink="/articulos">Articulos</a>
    <a routerLink="/repartos">Repartos</a>
  </div>
</div>
