<mat-card class="custom-card">
  <mat-card-header>
    <mat-card-title>Pedidos</mat-card-title>
  </mat-card-header>
  <mat-card-content class="custom-card-content">

<button mat-button routerLink="/crear-pedido">Crear Pedido</button>

<table>
  <tr>
    <th>Fecha</th>
    <th>Estado</th>
    <th>Total</th>
  </tr>
  <tr *ngFor="let pedido of pedidos" (click)="verDetalles(pedido.id)">
    <td>{{ pedido.fecha | date:'dd/MM/yyyy'}}</td>
    <td>{{ pedido.estadoTexto }}</td>
    <td>${{ pedido.precioTotal }}</td>
  </tr>
</table>

  </mat-card-content>
</mat-card>
