<div class="container">
<div class="form-container">
  <h2>Agregar Cliente</h2>

  <div class="form-box">
    <!-- Contenido del formulario -->
    <label>Nombre:</label>
    <input type="text" [(ngModel)]="nuevoCliente.nombre">

    <label>Nombre Fantasia:</label>
    <input type="text" [(ngModel)]="nuevoCliente.nombreFantasia">

    <label>Direccion:</label>
    <input type="text" [(ngModel)]="nuevoCliente.direccion">

    <label>DNI:</label>
    <input type="number" maxlength="8" minlength="7" [(ngModel)]="nuevoCliente.dni">

    <label>Email:</label>
    <input type="email" [(ngModel)]="nuevoCliente.email">

    <label>Numero de Reparto:</label>
    <select [(ngModel)]="nroReparto">
      <option *ngFor="let reparto of nroRepartos" [value]="reparto">{{ reparto }}</option>
    </select>

    <label>Telefono:</label>
    <input type="number" [(ngModel)]="nuevoCliente.telefono">
    <button mat-button class="modern-button" (click)="crearNuevoCliente()">Crear Cliente</button>
    <button mat-button class="modern-button" (click)="volverClientes()">Cancelar</button>

  </div>

</div>
</div>
