<div class="card-container">
<mat-card class="custom-card">
  <mat-card-header>
    <mat-card-title>Cuenta</mat-card-title>
    <button mat-button (click)="volverAtras()" style="margin-left: auto;">Volver Atras</button>
  </mat-card-header>
  <mat-card-content class="custom-card-content">
    <div>
      <p>ID: {{ cuenta.id }}</p>
      <p>DNI / CUIT: {{ cuenta.dniCliente }}</p>
      <p>Saldo: ${{ cuenta.saldo }}</p>
    </div>
  </mat-card-content>

    <mat-card-content class="custom-card-content" *ngIf="cuenta.pagos && cuenta.pagos.length > 0">
    <div>
      <h3>Pagos</h3>
      <table>
        <tr>
          <th>Fecha</th>
          <th>Forma Pago</th>
          <th>Monto</th>
        </tr>
        <tr *ngFor="let pago of cuenta.pagos" (click)="verDetallesPago(pago.id)">
          <td>{{ pago.fecha | date:'dd/MM/yyyy'}}</td>
          <td>{{ pago.formaPago }}</td>
          <td>${{ pago.monto }}</td>
        </tr>
      </table>
    </div>
    </mat-card-content>

    <mat-card-content class="custom-card-content" *ngIf="cuenta.gastos && cuenta.gastos.length > 0">
    <div>
      <h3>Pedidos</h3>
      <table>
        <tr>
          <th>Fecha</th>
          <th>ID Pedido</th>
          <th>Monto</th>
        </tr>
        <tr *ngFor="let pago of cuenta.gastos" (click)="verDetallesPedido(pago.idPedido)">
          <td>{{ pago.fecha | date:'dd/MM/yyyy'}}</td>
          <td>{{ pago.idPedido }}</td>
          <td>${{ pago.monto }}</td>
        </tr>
      </table>
    </div>
  </mat-card-content>

  <mat-card-content class="custom-card-content" *ngIf="cuenta.compras && cuenta.compras.length > 0">
    <div>
      <h3>Compras</h3>
      <table>
        <tr>
          <th>Fecha</th>
          <th>ID Articulo</th>
          <th>Cantidad</th>
          <th>Precio Unidad</th>
        </tr>
        <tr *ngFor="let compra of cuenta.compras" (click)="verDetallesCompra(compra.idCompra)">
          <td>{{ compra.fecha | date:'dd/MM/yyyy'}}</td>
          <td>{{ compra.articulo.nombre }}</td>
          <td>{{ compra.cantidad }}</td>
          <td>${{ compra.precioUnidad }}</td>
        </tr>
      </table>
    </div>
  </mat-card-content>

</mat-card>
</div>
