<app-alert message="Pedido cancelado" *ngIf="mostrarCancel"></app-alert>
<app-alert message="Pago agregado" *ngIf="mostrarPopup"></app-alert>
<app-alert message="Pedido entregado" *ngIf="mostrarEntregado"></app-alert>
<app-confirmar-borrar *ngIf="mostrarConfirmCancelar" (acept)="cancelarPedido()" (cancel)="cancelarBorrado()"></app-confirmar-borrar>
<app-confirmar-borrar *ngIf="mostrarConfirmEntrega" (acept)="cambiarEstado()" (cancel)="ocultarEntrega()"></app-confirmar-borrar>

<mat-card class="custom-card">
  <mat-card-header>
    <mat-card-title>Detalles del Pedido</mat-card-title>
    <div class="button-container" style="margin-left: auto;">
      <button mat-button (click)="descargarFactura()">Descargar Factura</button>
      <button mat-button (click)="volverAtras()">Volver Atras</button>
    </div>
  </mat-card-header>
  <mat-card-content class="custom-card-content">
    <div>
      <p>Numero: {{ pedido.id }}</p>
      <p>DNI Cliente: {{pedido.dniCliente}}</p>
      <p>Fecha: {{ pedido.fecha | date:'dd/MM/yyyy'}}</p>
      <p>Total: ${{ pedido.precioTotal }}</p>
      <p>Estado: {{ pedido.estadoTexto }}</p>

      <table>
        <tr>
          <th>Producto</th>
          <th>Cantidad</th>
          <th>Precio</th>
        </tr>
        <tr *ngFor="let producto of pedido.productos">
          <td>{{ producto.nombre }}</td>
          <td>{{ producto.cantidad }}</td>
          <td>${{ producto.precio }}</td>
        </tr>
      </table>

      <div>
        <div class="button-container">
          <button mat-button *ngIf="pedido.estadoTexto === 'PENDIENTE'" (click)="mostrarConfirmPopup()">Cancelar Pedido</button>
          <button mat-button *ngIf="pedido.estadoTexto === 'PENDIENTE'" (click)="mostrarEntrega()">Confirmar Entrega</button>
        </div>
      </div>


    </div>

  </mat-card-content>
  <app-venta></app-venta>
</mat-card>


