
  <div class="centered-container">
    <app-search-bar></app-search-bar>
  </div>

<div class="card-container">
  <div>
    <mat-card class="custom-card">
      <mat-card-header>
        <mat-card-title>Clientes</mat-card-title>
      </mat-card-header>
      <mat-card-content class="custom-card-content">
        <div class="button-container">
        <button mat-button routerLink="/agregar-cliente">Agregar Cliente</button>
        <button mat-button routerLink="/clientes">Ver Clientes</button>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="custom-card">
      <mat-card-header>
        <mat-card-title>Proveedores</mat-card-title>
      </mat-card-header>
      <mat-card-content class="custom-card-content">
        <button mat-button routerLink="/agregar-proveedor">Agregar Proveedor</button>
      </mat-card-content>
    </mat-card>
    <mat-card class="custom-card">
      <mat-card-header>
        <mat-card-title>Repartos</mat-card-title>
      </mat-card-header>
      <mat-card-content class="custom-card-content">
        <button mat-button routerLink="/agregar-reparto">Nuevo Reparto</button>
      </mat-card-content>
    </mat-card>
  </div>
  <div>
    <mat-card class="custom-card">
      <mat-card-header>
        <mat-card-title>Pedidos</mat-card-title>
      </mat-card-header>
      <mat-card-content class="custom-card-content">
        <div class="button-container">
        <button mat-button routerLink="/crear-pedido">Nuevo Pedido</button>
        <button mat-button routerLink="/pedidos">Ver Pedidos</button>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="custom-card">
      <mat-card-header>
        <mat-card-title>Articulos</mat-card-title>
      </mat-card-header>
      <mat-card-content class="custom-card-content">
        <button mat-button routerLink="/agregar-articulo">Nuevo Articulo</button>
      </mat-card-content>
    </mat-card>
    <mat-card class="custom-card">
      <mat-card-header>
        <mat-card-title>Pagos</mat-card-title>
      </mat-card-header>
      <mat-card-content class="custom-card-content">
        <button mat-button routerLink="/agregar-pago/0">Nuevo Pago</button>
      </mat-card-content>
    </mat-card>
  </div>
  <div>
      <mat-card class="custom-card">
        <mat-card-header>
          <mat-card-title>Cuentas</mat-card-title>
        </mat-card-header>
        <mat-card-content class="custom-card-content">
          <button mat-button routerLink="/cuentas">Ver Cuentas</button>
        </mat-card-content>
      </mat-card>
    <mat-card class="custom-card">
      <mat-card-header>
        <mat-card-title>Compras</mat-card-title>
      </mat-card-header>
      <mat-card-content class="custom-card-content">
        <button mat-button routerLink="/compras">Ver Compras</button>
      </mat-card-content>
    </mat-card>
    <mat-card class="custom-card">
      <mat-card-header>
        <mat-card-title>Reportes</mat-card-title>
      </mat-card-header>
      <mat-card-content class="custom-card-content">
        <button mat-button routerLink="/reportes">Ver Reportes</button>
      </mat-card-content>
    </mat-card>
  </div>
</div>
