.popup-container {
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  height: 100vh; /* Cambiar el tamaño vertical al 100% del viewport */
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Cambiar alineación vertical arriba */
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.popup-alert {
  background-color: green;
  color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  margin-top: 20px; /* Espacio desde la parte superior */
}

.popup-message {
  font-size: 18px;
}
