<app-alert message="Cliente creado" *ngIf="mostrarPopup"></app-alert>
<app-confirmar-borrar *ngIf="mostrarConfirmBorrar" (cancel)="cancelarBorrado()" (acept)="borrarCliente()"></app-confirmar-borrar>

<mat-card class="custom-card">
  <mat-card-header>
    <mat-card-title>Detalles del Cliente</mat-card-title>
    <button mat-button (click)="volverAtras()" style="margin-left: auto;">Volver Atras</button>
  </mat-card-header>
  <mat-card-content class="custom-card-content">
    <div *ngIf="!camposEditables">
      <p>Nombre: {{ cliente.nombre }}</p>
      <p>Nombre Fantasia: {{ cliente.nombreFantasia }}</p>
      <p>Email: {{ cliente.email }}</p>
      <p>DNI: {{ cliente.dni }}</p>
      <p>Telefono: {{ cliente.telefono }}</p>
      <p>Nro Reparto: {{ cliente.nroReparto }}</p>
      <p>Dirección: {{ cliente.direccion }}</p>
      <div>
        <div class="button-container">
          <button mat-button (click)="habilitarEdicion()">Editar</button>
          <button mat-button (click)="mostrarConfirmPopup()">Borrar</button>
        </div>
      </div>
    </div>
    <div *ngIf="camposEditables">
      <div class="input-container">
        <label>Nombre:
          <input [(ngModel)]="valoresEditados['nombre']">
        </label>
      </div>
      <div class="input-container">
        <label>Nombre Fantasia:
          <input [(ngModel)]="valoresEditados['nombreFantasia']">
        </label>
      </div>
      <div class="input-container">
        <label>Email:
          <input [(ngModel)]="valoresEditados['email']">
        </label>
      </div>
      <div class="input-container">
        <label>DNI:
          <input [(ngModel)]="valoresEditados['dni']">
        </label>
      </div>
      <div class="input-container">
        <label>Telefono:
          <input [(ngModel)]="valoresEditados['telefono']">
        </label>
      </div>
      <div class="input-container">
        <label>Nro Reparto:
          <input [(ngModel)]="valoresEditados['nroReparto']">
        </label>
      </div>
      <div class="input-container">
        <label>Dirección:
          <input [(ngModel)]="valoresEditados['direccion']">
        </label>
      </div>
      <button mat-button (click)="guardarEdicion()">Guardar</button>
      <button mat-button (click)="desabilitarEdicion()">Cancelar</button>

    </div>

  </mat-card-content>
</mat-card>

<app-cuenta></app-cuenta>
<app-lista-pedidos></app-lista-pedidos>
