<app-alert message="Compra eliminada" *ngIf="mostrarPopup"></app-alert>
<div class="container" style="display: flex; justify-content: space-between; align-items: center; border-right: 200px solid transparent;">
  <h2 style="margin-left: 150px;">Listado de Compras</h2>
  <div class="button-container">
    <button mat-button routerLink="/agregar-compra">Agregar Compra</button>
    <button mat-button (click)="volverAtras()" style="margin-left: auto">Volver Atras</button>
  </div>
</div>

<table>
  <tr>
    <th>Articulo</th>
    <th>Fecha</th>
    <th>Cantidad</th>
    <th>Precio Unitario</th>
  </tr>
  <tr *ngFor="let compra of compras" (click)="verDetalles(compra.id)">
    <td>{{ compra.articulo.nombre }}</td>
    <td>{{ compra.fecha | date:'dd/MM/yyyy'}}</td>
    <td>{{ compra.cantidad }}</td>
    <td>${{ compra.precioUnidad }}</td>
  </tr>
</table>
