<mat-card class="custom-card">
  <mat-card-header>
    <mat-card-title>Cuenta</mat-card-title>
  </mat-card-header>
  <mat-card-content class="custom-card-content">
    <ng-container *ngIf="cuenta.id !== null; else cuentaSinId">
      <p> Saldo </p>
      <p class="saldo"> {{ "$" + cuenta.saldo }}</p>
      <button mat-button (click)="crearCuenta()">Ver detalles Cuenta</button>
    </ng-container>
    <ng-template #cuentaSinId>
      <p>No tiene Cuenta.</p>
      <button mat-button (click)="crearCuenta()">Crear Cuenta</button>
    </ng-template>
  </mat-card-content>
</mat-card>
