<style>
  table, label {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
    font-size: 16px;
  }

  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }

  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }

  tr:hover {
    background-color: #f9f9f9;
  }
</style>

<app-alert message="Cliente eliminado" *ngIf="mostrarPopup"></app-alert>

<div class="container" style="display: flex; justify-content: space-between; align-items: center; border-right: 200px solid transparent;">
  <h2>Listado de Clientes</h2>
  <button mat-button routerLink="/agregar-cliente">Agregar Cliente</button>
  <button mat-button (click)="descargarPDF()">Descargar Listado</button>
</div>

<label>Buscar Clientes</label>
<select [(ngModel)]="campoSelec">
  <option *ngFor="let campo of campos.keys()" [value]="campo">{{ campo }}</option>
</select>
<input type="text" [(ngModel)]="valor">
<button mat-button (click)="buscarClientes()">Buscar</button>

<table>
  <tr>
    <th>ID</th>
    <th>Nombre</th>
    <th>Nombre Fantasía</th>
    <th>DNI</th>
    <th>Dirección</th>
    <th>Email</th>
    <th>Nro Reparto</th>
    <th>Teléfono</th>
  </tr>
  <tr *ngFor="let cliente of clientes" (click)="verDetalles(cliente.id)">
    <td>{{ cliente.id }}</td>
    <td>{{ cliente.nombre }}</td>
    <td>{{ cliente.nombreFantasia }}</td>
    <td>{{ cliente.dni }}</td>
    <td>{{ cliente.direccion }}</td>
    <td>{{ cliente.email }}</td>
    <td>{{ cliente.nroReparto }}</td>
    <td>{{ cliente.telefono }}</td>
  </tr>
</table>
