
<div class="container" style="display: flex; justify-content: space-between; align-items: center; border-right: 200px solid transparent;">
  <h2 style="margin-left: 150px;">Listado de Cuentas</h2>
  <button mat-button (click)="volverAtras()" style="margin-left: auto">Volver Atras</button>
</div>

<table>
  <tr>
    <th>ID Usuario</th>
    <th>DNI / CUIT</th>
    <th>Saldo</th>
  </tr>
  <tr *ngFor="let cuenta of cuentas" (click)="verDetalles(cuenta.id)">
    <td>{{ cuenta.id }}</td>
    <td>{{ cuenta.dniCliente }}</td>
    <td>${{ cuenta.saldo }}</td>
  </tr>
</table>
