<div class="container">
  <h1>Proveedores</h1>
</div>
<button mat-button routerLink="/agregar-proveedor">Agregar Proveedor</button>
<div class="container">
  <h2>Listado de Proveedores</h2>
</div>

<table>
  <tr>
    <th>ID</th>
    <th>Nombre</th>
    <th>Nombre Fantasía</th>
    <th>CUIT</th>
    <th>Dirección</th>
    <th>Email</th>
    <th>Teléfono</th>
  </tr>
  <tr *ngFor="let proveedor of proveedores">
    <td>{{ proveedor.id }}</td>
    <td>{{ proveedor.nombre }}</td>
    <td>{{ proveedor.nombre_fantasia }}</td>
    <td>{{ proveedor.cuit }}</td>
    <td>{{ proveedor.direccion }}</td>
    <td>{{ proveedor.email }}</td>
    <td>{{ proveedor.telefono }}</td>
  </tr>
</table>

