<mat-card class="custom-card">
  <mat-card-header>
    <mat-card-title>Cuenta</mat-card-title>
  </mat-card-header>
  <mat-card-content class="custom-card-content" *ngIf="cliente && cliente.id!== 0">
    <ng-container>
      <p> Saldo </p>
      <p class="saldo"> {{ "$" + cliente.saldo }}</p>
      <button mat-button (click)="verCuenta(cliente.id)">Ver detalles Cuenta</button>
    </ng-container>
  </mat-card-content>
  <mat-card-content class="custom-card-content" *ngIf="proveedor && proveedor.id !== 0">
    <ng-container>
      <p> Saldo </p>
      <p class="saldo"> {{ "$" + proveedor.saldo }}</p>
      <button mat-button (click)="verCuenta(proveedor.id)">Ver detalles Cuenta</button>
    </ng-container>
  </mat-card-content>
</mat-card>
