.popup {
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  height: 100vh; /* Cambiar el tamaño vertical al 100% del viewport */
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Cambiar alineación vertical arriba */
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
.card-container {
  display: flex;
  flex-wrap: wrap; /* Permite que las filas se ajusten automáticamente a medida que se llenan */
  justify-content: space-between; /* Espacio entre las columnas */
}

.card-container > div {
  flex: 1; /* Las divisiones se expanden para llenar el espacio disponible */
  max-width: calc(50% - 10px); /* Asegura que haya espacio entre las columnas */
  margin-bottom: 20px; /* Espacio entre las filas */
}
.popup-message {
  font-size: 18px;
}

.modern-button-ok {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  background-color: green; /* Color de fondo */
  color: #ffffff; /* Color del texto */
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.modern-button-ok:hover {
  background-color: darkgreen; /* Color de fondo al pasar el cursor */
  transform: scale(1.05); /* Efecto de escala al pasar el cursor */
}

.modern-button-cancel {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  background-color: red; /* Color de fondo */
  color: #ffffff; /* Color del texto */
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.modern-button-cancel:hover {
  background-color: darkred; /* Color de fondo al pasar el cursor */
  transform: scale(1.05); /* Efecto de escala al pasar el cursor */
}
