

<div class="container" style="display: flex; justify-content: space-between; align-items: center; border-right: 200px solid transparent;">
  <h2 style="margin-left: 150px;">Listado de Proveedores</h2>
  <button mat-button routerLink="/agregar-proveedor">Agregar Proveedor</button>
  <button mat-button (click)="volverAtras()" style="margin-left: auto">Volver Atras</button>
</div>

<table *ngIf="(proveedores && proveedores.length >0)">
  <tr>
    <th>ID</th>
    <th>Nombre</th>
    <th>Nombre Fantasía</th>
    <th>CUIT</th>
    <th>Dirección</th>
    <th>Email</th>
    <th>Teléfono</th>
  </tr>
  <tr *ngFor="let proveedor of proveedores" (click)="verDetalles(proveedor.id)">
    <td>{{ proveedor.id }}</td>
    <td>{{ proveedor.nombre }}</td>
    <td>{{ proveedor.nombreFantasia }}</td>
    <td>{{ proveedor.cuit }}</td>
    <td>{{ proveedor.direccion }}</td>
    <td>{{ proveedor.email }}</td>
    <td>{{ proveedor.telefono }}</td>
  </tr>
</table>

<h2 *ngIf="!(proveedores && proveedores.length >0)">No se encontraron resultados. </h2>
