




<div class="card-container">
  <div>
    <mat-card class="custom-card">
      <mat-card-header>
        <mat-card-title>Clientes</mat-card-title>
      </mat-card-header>
      <mat-card-content class="custom-card-content">
        <button mat-button routerLink="/agregar-cliente">Agregar Cliente</button>
      </mat-card-content>
    </mat-card>
    <mat-card class="custom-card">
      <mat-card-header>
        <mat-card-title>Proveedores</mat-card-title>
      </mat-card-header>
      <mat-card-content class="custom-card-content">
        <button mat-button routerLink="/agregar-proveedor">Agregar Proveedor</button>
      </mat-card-content>
    </mat-card>
    <mat-card class="custom-card">
      <mat-card-header>
        <mat-card-title>Repartos</mat-card-title>
      </mat-card-header>
      <mat-card-content class="custom-card-content">
        <button mat-button routerLink="/crear-reparto">Nuevo Reparto</button>
      </mat-card-content>
    </mat-card>
  </div>
  <div>
    <mat-card class="custom-card">
      <mat-card-header>
        <mat-card-title>Pedidos</mat-card-title>
      </mat-card-header>
      <mat-card-content class="custom-card-content">
        <button mat-button routerLink="/crear-pedido">Nuevo Pedido</button>
      </mat-card-content>
    </mat-card>
    <mat-card class="custom-card">
      <mat-card-header>
        <mat-card-title>Articulos</mat-card-title>
      </mat-card-header>
      <mat-card-content class="custom-card-content">
        <button mat-button routerLink="/agregar-articulo">Nuevo Articulo</button>
      </mat-card-content>
    </mat-card>
    <mat-card class="custom-card">
      <mat-card-header>
        <mat-card-title>Pagos</mat-card-title>
      </mat-card-header>
      <mat-card-content class="custom-card-content">
        <button mat-button routerLink="/crear-pago">Nuevo Pago</button>
      </mat-card-content>
    </mat-card>
  </div>

</div>
