<mat-card class="custom-card">
  <mat-card-header>
    <mat-card-title>Clientes</mat-card-title>
  </mat-card-header>
  <mat-card-content class="custom-card-content">
    <button mat-button routerLink="/agregar-cliente">Agregar Cliente</button>
  </mat-card-content>
</mat-card>
<mat-card class="custom-card">
  <mat-card-header>
    <mat-card-title>Proveedores</mat-card-title>
  </mat-card-header>
  <mat-card-content class="custom-card-content">
    <button mat-button routerLink="/agregar-proveedor">Agregar Proveedor</button>
  </mat-card-content>
</mat-card>
