<table mat-table>

  <thead>Proveedor</thead>
  <tbody>
  <tr>
    <td>nombre</td>
    <td><p [contentEditable]="true">{{ proveedor.nombre }}</p></td>
  </tr>
  <tr>
    <td>nombre fantasia</td>
    <td><p [contentEditable]="true">{{ proveedor.nombreFantasia }}</p></td>
  </tr>
  <tr>
    <td>direccion</td>
    <td><p [contentEditable]="true">{{ proveedor.direccion }}</p></td>
  </tr>
  <tr>
    <td>email</td>
    <td><p [contentEditable]="true">{{ proveedor.email }}</p></td>
  </tr>
  <tr>
    <td>telefono</td>
    <td><p [contentEditable]="true">{{ proveedor.telefono }}</p></td>
  </tr>
  <tr>
    <td>cuit</td>
    <td><p [contentEditable]="true">{{ proveedor.cuit }}</p></td>
  </tr>
  <tr> <button (click)="guardarEdicion()">Guardar</button></tr>
  </tbody>
</table>

