<mat-card class="custom-card">
  <mat-card-header>
    <mat-card-title>Detalles del Cliente</mat-card-title>
  </mat-card-header>
  <mat-card-content class="custom-card-content">
    <p>Nombre: {{ camposEditables ? valoresEditados['nombre'] : cliente['nombre'] }}</p>
    <p>Nombre Fantasia: {{ camposEditables ? valoresEditados['nombreFantasia'] : cliente['nombreFantasia'] }}</p>
    <p>Email: {{ camposEditables ? valoresEditados['email'] : cliente['email'] }}</p>
    <p>DNI: {{ camposEditables ? valoresEditados['dni'] : cliente['dni'] }}</p>
    <p>Telefono: {{ camposEditables ? valoresEditados['telefono'] : cliente['telefono'] }}</p>
    <p>Nro Reparto: {{ camposEditables ? valoresEditados['nroReparto'] : cliente['nroReparto'] }}</p>
    <p>Dirección: {{ camposEditables ? valoresEditados['direccion'] : cliente['direccion'] }}</p>
    <!-- Otros campos del cliente -->
    <div *ngIf="camposEditables; else confirmarEdicionTemplate">
      <button mat-button (click)="guardarEdicion()">Guardar</button>
    </div>
    <ng-template #confirmarEdicionTemplate>
      <button mat-button (click)="habilitarEdicion()">Editar</button>
    </ng-template>
  </mat-card-content>
</mat-card>

<app-cuenta></app-cuenta>
